/* styles/LandingPage.module.css */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 216, 216);
  opacity: 1;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.title {
  margin: 10px;
  font-size: 2rem;
  color: #373837;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.description {
  margin-top: 0.5rem;
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ctaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ctaButton {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #acafac;
  color: #113520;
  font-weight: bold;
  transition: background-color 0.2s ease;
  margin-bottom: 20px;
}

.ctaButton:hover,
.ctaButton:focus {
  background-color: #189c18;
}
.top{
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 259px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: -2px 10px 5px rgba(0, 0, 0, 0);
  border-radius: 10px;
  font-family: SQ Market, SQ Market, Helvetica, Arial, sans-serif;
}
.buttom{
  
  display: inline-block;
  font-size: 18px;
  line-height: 48px;
  height: 48px;
  color: #ffffff;
  min-width: 212px;
  background-color: #006aff;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
  border-radius: 6px;
}
